// Base font properties.
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

$base-font: Roboto, sans-serif;

$base-font-size: 16;
$base-line-height: 24;

// Colors.
$color-black: #000;
$color-white: #fff;

$color-blackish: #111;
$color-grey-dark: #333;
$color-grey-medium: #555;
$color-grey-light: #999;
$color-grey-ultralight: #eee;

// Media queries.
$break-small: 600px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

// Global settings.
* {
  font-family: $base-font;
}

html,
body {
  min-width: 400px;
}

a {
  color: $color-grey-medium;
}

footer {
  display: block;
}

// Imports.
@import "../components/CountdownList.scss";
@import "../components/CountdownCard.scss";
@import "../components/Filter.scss";
@import "../components/Footer.scss";
