.form-filter {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 10px;
  width: calc(100%);
  max-width: 1110px;

  &__label {
    align-items: center;
    display: flex;
    font-size: 24px;
    grid-column: 1 / 2;
  }

  &__input {
    border: 1px solid #999;
    font-size: 24px;
    grid-column: 2 / 5;
    width: auto;
  }
}
